/* Universal Reset */
* {
	padding: 0;
	margin: 0;
}

/* Importing fonts */

@font-face {
    font-family: 'Droid Sans';
    src: url('../fonts/droidsans-webfont.eot');
    src: url('../fonts/droidsans-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/droidsans-webfont.woff2') format('woff2'),
         url('../fonts/droidsans-webfont.woff') format('woff'),
         url('../fonts/droidsans-webfont.ttf') format('truetype'),
         url('../fonts/droidsans-webfont.svg#droid_sansregular') format('svg');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/nunito-bold-webfont.eot');
    src: url('../fonts/nunito-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/nunito-bold-webfont.woff2') format('woff2'),
         url('../fonts/nunito-bold-webfont.woff') format('woff'),
         url('../fonts/nunito-bold-webfont.ttf') format('truetype'),
         url('../fonts/nunito-bold-webfont.svg#nunitobold') format('svg');
    font-weight: 700;	
    font-style: normal;

}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/nunito-regular-webfont.eot');
    src: url('../fonts/nunito-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/nunito-regular-webfont.woff2') format('woff2'),
         url('../fonts/nunito-regular-webfont.woff') format('woff'),
         url('../fonts/nunito-regular-webfont.ttf') format('truetype'),
         url('../fonts/nunito-regular-webfont.svg#nunitoregular') format('svg');
    font-weight: 400;
    font-style: normal;

}

/* Basic styles */
h1, h2, h3 {
	font-family: 'Nunito', sans-serif;
}

/* Common styles */
div.section-header {

  text-align: center;

  h2 {
    font-size:38px;
    font-weight:bold;
    text-transform: uppercase;
  }
  p {
    font-size:28px;
    font-family: 'Droid Sans', sans-serif;
    color:#a09c9c;
  }
}

/*  Header styles */
#header {
    background:url('../img/main-bg.jpg');
    background-position: center center;
    background-position-x: 50% !important;
    background-repeat: repeat-y;
    background-size: cover;    

}

#menu {
    height:90px;
    background: #211f1f;
    padding-top:30px;
}
#logo {
    padding-left: 30px;
}
#navigation {
    font-family: 'Arial', sans-serif;
    
    ul {
        list-style:none;
        float:right;
    }

    li {
        display:inline-block;
    }

    a {
        font-weight:bold;
        display: block;
        padding:5px 18px;
        font-size:16px;
        color:#fff;
    }
}

#hero {
  
    width:420px;
    padding-top:110px;
    margin: 0 auto;
    text-align:center;
    padding-bottom: 130px;

    h1 {
    font-size:60px;
    color:#fff;
    text-align: center;
    font-weight:bold;
    }

    .eventDate {
    font-style: italic;
    font-weight: norma;
    font-size: 35px;
    color:#fff;
    letter-spacing: 2px;
    }

    .social {

        text-align: center;

        a {
            font-size: 38px;
            line-height: 90px;
            color:#fff;
            padding:0 8px;

            &:hover{
                color:#03a9f5;
            }
        }
    }
}

.ticker {
    margin-top:30px;
}

#countDown {
    
    border:none;
    padding-top:12px;

    span {
        border: 0;
        padding:0;
        margin:0;
        background: #e6be00;
    }

    span.countdown-row {
        display:block;    
    }

    span.countdown-section {
        border-right:1px solid #968c8c;
        padding-top: 12px;
        }

    span.countdown-amount {

        font-size: 32px;
        font-weight:bold;
        color:#fff;
    }

    span.countdown-period {
        font-size:17px;
        color: #737373;
        padding-bottom: 12px;
    }
}

/* Map */

#route-map {
    height:500px;
}

#route-sd {
        
    h3 {
        color: #fff;
        font-size: 28px;
    }
    span {
        font-size: 21px;
        color: #565656;
    }
    i {
        color:#565656;
        font-size: 28px;
    }
    .route-s {
        background:#e6be00;
    }

    .route-d {
        background: #2a2829;
    }

    .route-s, .route-d {
        padding:30px 50px;
        text-align: center;
    }

}



/* Participate */

#participate {
    padding-top: 90px;
    padding-bottom: 90px;
}
#price {
    background:#333;
    position:relative;
    height:200px;
    margin-bottom: 92px;
    margin-top: 70px;
    
    .price-head {
        position:absolute;
        height:50%;
        top:22%;
        padding-left: 30px;

        h3 {
            color:#fff;
            font-size:40px;
            font-weight:bold;
            
            span {
                color: #e6be00;
                font-size:30px;
                display: block;
                font-weight: normal;

            }
        }
    }

    .price-tag {
        position:absolute;
        background: #e6be00;
        padding:8px;
        right:0;
        padding-left: 30px;
        padding-right: 15px;
        top:25%;
        height:50%;

        h3 {
            color:#fff;
            font-size: 36px;
            
            span {
                color:#6a4f4f;
            }
        }
    }
}

div.btn-si{

    text-align: center;

    a {
        padding: 12px 54px;
        display: inline-block;
        background: #03a9f4;
        color: #fff;
        border-radius: 3px;
        font-size: 18px;

    }
}



        
/*  OWL CAROUSEL */

#gallery {
    padding-top: 65px;
}

#carousel-gallery-holder {
    padding-top: 70px;
    padding-bottom: 30px;
}

#carousel-gallery-holder ul{
    list-style:none;
}
#carousel-gallery-holder .gallery-item img{
  display: block;
  width: 100%;
  height: auto;
}

#carousel-gallery-holder .gallery-item{
  margin: 1px;
}

/* Winners */
#winners {
     background:#faf7f7;
     padding-top: 90px;
}

#winner-board {
    padding-top: 90px;

    h3 {
        color:#fff;
        font-size:38px;
    }

    p {
        font-size: 24px;
        font-family: 'Nunito', sans-serif;
        font-weight: normal;
    }
    .winner-slate {
        background-color: #2a2829;
        text-align: center;
        padding-top: 70px;
        padding-bottom: 70px;

        p {
            color:#e6be00;

        }
    }
    .winner-slate.alt-slate {
        background-color: #e6be00;

        p {
            color:#2a2829;
        }
    }
}

/* Partners */
#partners {
    padding-top: 110px;
    padding-bottom: 135px;
    background:#333;

    h2 {
        color:#fff;
    }
}

#partners-list {

    margin-top:70px;

    ul {
        list-style: none;
    }

    .partner {
        border-bottom:1px solid #ccc;
        padding:30px 0 30px 0;
        background:#fff;
        border-right: 1px solid #ccc;
        text-align: center;
    }
}

/* Footer */

#footer {
    padding:24px 0;
    background:#000;

    .footer-left, .footer-right {
        color:#fff;
    }

    .footer-right {
        text-align: right;
        padding-right: 10%;

        a {
            font-size: 22px;
            color:#fff;
            padding:0 8px;

            &:hover{
                color:#03a9f5;
            }
        }
    }


}